<div class="container">

    <div align="center"><img src="{{ protocol }}://{{ domain }}/static/templates/one/images/logo.png" /></div>
        <p >

            Hello <b>{{ user.first_name }}</b> ,

        </p>
        <p>
            You're receiving this email because you requested a password reset for your user account at Taskjets.

            Please click on the button below and choose a new password.

        </p>
    <p>

             <table>
                <tr>
                    <td style="background-color: #A428D8;border-color: #4c5764;border-radius:5px;border: 7px solid #A428D8;padding: 5px;text-align: center;">
                    <a style="display: block;color: #ffffff;font-size: 15px;text-decoration: none;" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                    Reset Password
                    </a>
                    </td>
                </tr>
            </table>
        </p>
    <p>  Your username, in case you've forgotten: <b>{{ user.get_username }}</b></p>
        <p> Thanks for using our site!</p>
        <hr/>
        <p>Please <a href="{{ protocol }}://{{ domain }}{% url 'contact_us' %}" class="btn btn-primary">contact us</a> with any questions, we're always happy to help.</p>

        <p>
            Cheers,
            <br/>
            The Taskjets
        </p>

</div>