{% extends 'base.html' %}
{%  block title %}
    Your Account is Activated
{% endblock %}
{% block main %}

<div class="container">
    <div class="projects">
    <h5 class="fontfamily"> Thank you for completing registration, please <a href="{% url 'uaa_login' %}">login here</a></h5>

     </div>
      <div class="registration_com">

    </div>
</div>



{% endblock %}