{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%  block title %}
    Activate Your Account
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="fontfamily"><h4>Please fill the form for complete registration </h4></div>
                <br/>
                <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy  }}
                    <button type="submit" class="btn btn-wfa">Complete Registration</button>
                </form>
            </div>
        </div>
         <div class="registration">

    </div>
    </div>
{% endblock %}