{% extends 'base_dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10">
            <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-wfa">Edit Profile</button>

            </form>
        </div>
         <div class="empty">

    </div>
    </div>
{%endblock %}