{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%  block title %}
    Login
{% endblock %}
{% block main %}
<div id="login" >
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-6 ">
                <form class="fo" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy  }}
                    <div  class="row">
                        <div class="col"><button type="submit" class="btn btn-sm btn-success" >Login</button></div>
                       <div class="col-auto"> <a href="{% url 'password_reset' %}" class="btn btn-sm btn-info align-right" >Forgot Password</a></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="empty">

    </div>

</div>
{% endblock %}