{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%  block title %}
    To Reset Your password
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy  }}
                    <button type="submit" class="btn btn-wfa">Reset my password</button>
                </form>
            </div>
        </div>
        <div class="password_reset_com"></div>
    </div>
{% endblock %}