{% extends 'base.html' %}
{%  block title %}
    Password Reset Completed
{% endblock %}
{% block main %}

<div class="container">
    <div class="projects">
    <h4 class="fontfamily">Password reset complete</h4>
    <p style="font-size:14px;">Your password has been set. You may go ahead and log in now.</p>
     <a class="btn btn-success" href="{% url 'uaa_login' %}">Login</a>
     </div>
</div>
 <div class="password_reset_com">

    </div>
<div class="empty">

    </div>
{% endblock %}

