{% extends 'base.html' %}
{%  block title %}
    Resetting Your password needs Email verification
{% endblock %}
{% block main %}
<div class="container">
    <div class="projects">
    <h4 class="fontfamily">Password reset email sent</h4>
    <p style="font-size:14px;">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
    If you don't receive an email, please make sure you've entered the email address you registered with, and check your spam folder.</p>
     </div>
</div>
 <div class="password_reset_done">

    </div>
{% endblock %}