{% extends 'base.html' %}
{%  block title %}
    Password has Been Changed
{% endblock %}
{% block main %}


<div class="container">
    <div class="projects">
    <h4 class="fontfamily">Password change successful</h4>
    <p style="font-size:14px;">Your password was changed.</p>
         <a class="btn btn-success" href="{% url 'uaa_login' %}">Login</a>
     </div>
</div>
 <div class="empty">

    </div>
{% endblock %}