{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%  block title %}
    Change Your Password
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy  }}
                    <button type="submit" class="btn btn-success">Change Password</button>
                </form>
            </div>
        </div>
            <div class="password_change">

    </div>
    </div>
{% endblock %}