{% extends 'base.html' %}
{%  block title %}
    For Registration Check Your Email
{% endblock %}
{% block main %}

<div class="container">
    <div class="projects">
    <h5 class="fontfamily">Please check your email to activate your account and complete the registration process.</h5>

     </div>
      <div class="signup_complete">

    </div>
</div>



{% endblock %}