{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%  block title %}
    Registration Process
{% endblock %}
{% block main %}
    <div class="container" style="height=100%">
        <div class="row">
            <div class="col">
                <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy  }}
                    <button type="submit" class="btn btn-wfa">Get Started</button>
                </form>
            </div>
        </div>
         <div class="sign_up">

    </div>

    </div>

{% endblock %}

