<!doctype html>
<html lang="en">
<head>
    {% if not debug %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132057593-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-132057593-1');
        </script>
    {% endif %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ STATIC_URL }}templates/one/css/app.css?v={% if debug %}{% now "U" %}{% else %}3{% endif %}">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}templates/one/css/jquery.datetimepicker.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" />
    {% block seo %}
        <title>{% block title %}TaskJets - Streamline your business processes{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
    {% endblock %}
    {% block css %}{% endblock %}

</head>
<body>
    {% block header %}
        <div id="header" style="background-color: #999999">
            <div class="row">
               <div id="logo" class="pull-left col-md-6">
              <div class="row logo_base">
                 <img src="{{ STATIC_URL }}templates/one/Avilon/img/logo2.png" height="30px" width="102px">
                  <p >Beta</p>
              </div>


             </div>
                <div class="col-md-6">
                   <nav id="nav-menu-container">
                      <ul class="nav-menu">
                          <li><a href="{% url 'site_home' %}">Home</a>&nbsp&nbsp</li>
                          <li><a href="/#what-we-do">Features</a>&nbsp&nbsp</li>
                          <li><a href="/#pricing">Pricing</a>&nbsp&nbsp</li>
                          <li><a href="/#contact">Contact Us</a>&nbsp&nbsp</li>
                           {% if request.user.is_authenticated %}
                           <li><a href="{% url 'organisation_dashboard' %}" class="btn-outline-default">Dashboard</a>&nbsp&nbsp</li>
                            <li><a href="{% url 'uaa_logout' %}" class="btn-outline-default">Logout</a>&nbsp&nbsp</li>
                           {% else %}
                           <li><a href="{% url 'uaa_login' %}" class="btn-outline-default">Login</a>&nbsp&nbsp</li>
                           <li><a href="{% url 'uaa_register' %}" class="btn-outline-default">Sign Up</a>&nbsp&nbsp</li>
                           {% endif %}
                      </ul>
                    </nav><!-- #nav-menu-container -->
                </div>
            </div>
        </div>
    {% endblock %}

    {% block main %}
        <div class="site-container">
            <div class="row no-gutters">
                <div class="col-sm-8" style="background-color: red">
                    {% block content1 %}
                        <div class="row"><div class="col"> Hello</div></div>
                        <div class="row"><div class="col"> Hello</div></div>
                    {% endblock %}
                </div>
                <div class="col-sm-4" style="background-color: blue">{% block sidebar1 %}Sidebar{% endblock %}</div>
            </div>
        </div>

        <div class="site-container">
            <div class="row no-gutters">
                <div class="col-sm-12" style="background-color: red">{% block content2 %}Content{% endblock %}</div>

            </div>
        </div>
    {% endblock %}





        <div class="site-container">
            <div class="row">
                <div class="col text-center">
                    <footer>&copy; Copyright <strong><a href="/">Taskjets</a></strong>. All Rights Reserved</footer>
                </div>
            </div>
        </div>



</body>

<script src="{{ STATIC_URL }}templates/one/js/app.js?v={% if debug %}{% now "U" %}{% else %}3{% endif %}"></script>

{% block js %}

{% endblock %}

</html>
