{% extends 'base.html' %}

{% block header %}{% endblock %}





{% block main %}
    <div class="site-container">
    <div class="site-row no-gutters">
        <div class="col-auto" id="off-canvas">
            <div id="left-side-nav">
                <div class="row no-gutters rowhg">
                    <div class="col-auto">

                        <div class="logo">
                            <div class="row">
                            <img src="{{ STATIC_URL }}templates/one/images/logo2.png"/>
                            <p >Beta</p>
                             </div>
                        </div>

                    </div>

                </div>
                <hr/>

                <div class="row">
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-block dropdown-toggle dropdownsidenav fontcolor"
                                    type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                {{ ctx_organisation.name }}
                            </button>

                            <div class="dropdown-menu setting" aria-labelledby="dropdownMenuButton"
                                 style="width: 100%">
                                <a class="dropdown-item"
                                   href="{% url 'organisation_home' ctx_organisation.slug %}">Settings</a>{% if ctx_organisations|length > 1%} <hr>{% endif %}
                                {% for organisation in ctx_organisations %}
                                    {% if organisation != ctx_organisation %}
                                        <a class="dropdown-item" href="{% url 'organisation_home' organisation.slug %}">{{ organisation.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <a href="#" class="teams-dropdown-btn" data-toggle="collapse" data-target=".collapse1" role="button" aria-expanded="false" aria-controls="collapseExample">
                        &nbspTasks
                        <span class="collapse collapse1 show"><i class="fa fa-chevron-right" ></i></span>
                        <span class="collapse collapse1 "id="collapse1"> <i class="fa fa-angle-down "></i></span>
                    </a>
                    <div class="collapse {%if current_page == 'tasks'%}show{%endif%} collapse1" id="">
                        <div >


                            <a class="nav-link fontcolor   "
                               href="{%url 'my_tasks' ctx_organisation.slug %}">My Tasks</a>

                            <a class="nav-link fontcolor  "
                               href="{%url 'my_team_tasks' ctx_organisation.slug  %}">My Team Tasks</a>


                        </div>
                    </div>

                </div>

                <div class="row">
                    <a href="#" class="teams-dropdown-btn" data-toggle="collapse" data-target=".collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
                        &nbspProjects
                        <span class="collapse collapse2 show"><i class="fa fa-chevron-right" ></i></span>
                        <span class="collapse collapse2 " id="collapse2"> <i class="fa fa-angle-down "></i></span>
                    </a>
                    <div class="collapse {%if current_page == 'projects'%}show{%endif%} collapse2" id="">


                            {% for ctx_project in ctx_projects|slice:"5" %}
                            <a class="nav-link fontcolor {% if project == ctx_project %} proactive {% endif %}"
                               href="{% url 'project_home' ctx_project.organisation.slug ctx_project.id %}"
                               class="cont">{{ ctx_project.name }}</a>


                            {% endfor %}


                                <a class="fontcolor1"   href="{% url 'organisation_projects' ctx_organisation.slug %}">More</a>



                    </div>

                </div>

                <div class="row">
                    <a href="#" class="teams-dropdown-btn" data-toggle="collapse" data-target=".collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
                        &nbspTeams
                        <span class="collapse collapse3 show"><i class="fa fa-chevron-right" ></i></span>
                        <span class="collapse collapse3 " id="collapse3"> <i class="fa fa-angle-down "></i></span>
                    </a>
                    <div class="collapse {%if current_page == 'teams'%}show{%endif%} collapse3" id="">
                        <div >

                            {% for ctx_team in ctx_teams|slice:"5" %}
                            <a
                                    class="nav-link fontcolor {% if team == ctx_team %} proactive {% endif %}"
                                    href="{% url 'team_home' ctx_team.organisation.slug ctx_team.slug %}">{{ ctx_team.name }}</a>
                            {% endfor %}

                             <a class="fontcolor1"  href="{% url 'organisation_teams1' ctx_organisation.slug %}">More</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="right-body-nav" class="col">
            <div id="dashboard-header">

                <div class="row">
                    <div class="col-md-2">
                        <div class="row no-gutters invisible" id="on-canvas">
                            <div class="col-auto" id="toggle-nav-right"><a href="#"><span class="hamburger"> <i
                                    class="fas fa-bars"></i></span></a></div>
                            <div class="col-auto">

                                <div class="logo">
                                    <div class="row">
                                    <img
                                        src="{{ STATIC_URL }}templates/one/images/logo2.png"/>
                                         <p>Beta</p>
                            </div>
                                    </div>
                                </div>

                        </div>
                        <div class="row no-gutters" id="toggle-nav-left"><a href="#"><span class="hamburger"> <i
                                class="fas fa-bars"></i></span></a></div>
                    </div>

                    <div class="col-md-10">
                        <ul class="nav header-actions">
                               <li>
                       <form action="" class="search-form">
                 <form action="" class="search-form">
                <div class="form-group has-feedback">
            		<label for="search" class="sr-only">Search</label>
            		<input type="text" class="form-control" name="search" id="search" placeholder="search">
              		<span class="fa fa-search form-control-feedback"></span>
            	</div>
            </form>
            </form>
                    </li>
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown"><span class="header-circle "> <i
                                        class="fas fa-plus fa-color "></i></span></a>
                                <div class="dropdown-menu dropdown-menu-right  names">

                                    <a class="dropdown-item"
                                       href="{% url 'add_team' ctx_organisation.slug %}">Team</a>
                                    <a class="dropdown-item"
                                       href="{% url 'add_project' ctx_organisation.slug %}">Project</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" title="{{request.user.username}}"><span
                                        class="header-circle fa-color">{{ request.user.username|slice:"1"|upper }}</span></a>
                                <div class="dropdown-menu dropdown-menu-right names">
                                    <a class="dropdown-item" href="{% url 'uaa_edit_profile' %}">Edit
                                        Profile</a>
                                    <a class="dropdown-item" href="{% url 'password_change' %}">Change
                                        Password </a>
                                    <a class="dropdown-item" href="{% url 'uaa_logout' %}">Logout</a>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        {% block content %}Content {{ team }} {{ project }}{% endblock %}
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}
