<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Work flow</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ STATIC_URL }}templates/one/Avilon/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{{ STATIC_URL }}templates/one/Avilon/lib/animate/animate.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}templates/one/Avilon/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}templates/one/Avilon/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}templates/one/Avilon/lib/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ STATIC_URL }}templates/one/Avilon/css/style.css" rel="stylesheet">


</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <div class="row">
            <img src="{{ STATIC_URL }}templates/one/Avilon/img/logo2.png" height="30px" width="102px">
                <p>Beta</p>
            </div>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#intro">Home</a></li>
                <li><a href="#what-we-do">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact Us</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'organisation_dashboard' %}" class="btn-outline-default">Dashboard</a></li>
                {% else %}
                <li><a href="{% url 'uaa_login' %}" class="btn-outline-default">Login</a></li>
                <li><a href="{% url 'uaa_register' %}" class="btn-outline-default">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" >
    <div class="container">
        <div class="row justify-content-md-center" >

            <div class="col-md-8">
                <div class="row first">
                     <h2>Welcome to Taskjets</h2>
                     <p>A simple way to manage your projects , approvals and tasks.</p>
                </div>

                <form method="post" action="{% url 'uaa_register' %}" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-row">
                        <div class="col-8"><input type="email" name="email" placeholder="Email" class="form-control ml-4" required id="id_email"></div>
                        <div class="col-4"><button type="submit" class="btn btn-success ml-4">Get Started</button></div>
                    </div>
                </form>

            </div>


        </div></div>
</section><!-- #intro -->

<!--==========================

Product Featuress Section
============================-->
<!-- Services section -->
<section id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">Product Features</h2>
			<p class="text-center text-muted h5">Managing a business process efficiently is crucial in running the business effectively.</p>
			<div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">Project Management</h3>
							<p class="card-text">Easily segregate projects into various phases and manage tasks. View project level reports and assess the progress of your critical projects.</p>
							<a href="" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">Task level approvals</h3>
							<p class="card-text">Eliminate the manual approval process and move towards digital approval.The approver now has the ability to review the task attachments and provide approvals.
                             </p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">Prioritize, Plan, Report</h3>
							<p class="card-text">Stay on top of tasks by reviewing the project report.</p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">Manage Release Timelines</h3>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
							<a href="javascript:void();" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
<!-- /Services section -->


<!--==========================
  Pricing Section
============================-->
<section id="pricing" >
    <div class="container">

        <div class="section-header">
            <h1 class="section-title mb-2 h1">Pricing</h1>
        </div>
        <div class="row mt-5" >

            <div class="col-lg-4 col-md-6">
                <div class="box1 wow fadeInLeft">
                    <h3>Free Cloud</h3>

                    <ul>
                        <li><i class="ion-android-checkmark-circle"></i>Upto 5 users</li>
                        <li><i class="ion-android-checkmark-circle"></i> Upto 3 active projects</li>
                        <li><i class="ion-android-checkmark-circle"></i> Project Dashboard</li>
                        <li><i class="ion-android-checkmark-circle"></i> Project level reminders for tasks</li>
                        <li><i class="ion-android-checkmark-circle"></i> Create task and amd Manage workflows</li>
                    </ul>
                    <a href="#" class="get-started-btn">Coming soon</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="box featured wow fadeInUp">
                    <h3>Premium</h3>
                    <h4><sup>$</sup>8<span> month/user</span></h4>
                    <ul>
                        <li><i class="ion-android-checkmark-circle"></i> Unlimited users,  Teams & Projects</li>
                        <li><i class="ion-android-checkmark-circle"></i>Create sub tasks and dependent tasks</li>
                        <li><i class="ion-android-checkmark-circle"></i> Digital task(document) approval process</li>
                        <li><i class="ion-android-checkmark-circle"></i> Review the timelines and generate Report</li>
                        <li><i class="ion-android-checkmark-circle"></i> Project QA Lifecycle Management</li>
                        <li><i class="ion-android-checkmark-circle"></i> Priority Technical Support</li>

                    </ul>
                    <a href="#" class="get-started-btn">Coming soon</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="box wow fadeInRight">
                    <h3>Enterprise</h3>

                    <ul  class="enterprise">
                        <li><i class="ion-android-checkmark-circle"></i> SSO Support (SAML/LDAP)</li>
                        <li><i class="ion-android-checkmark-circle"></i> Premium Technical Support</li>
                        <li><i class="ion-android-checkmark-circle"></i> Customer specific logo</li>
                        <li><i class="ion-android-checkmark-circle"></i> Professional Services support</li>
                        <li><i class="ion-android-checkmark-circle"></i> Product Feature updates </li>
                        <li><i class="ion-android-checkmark-circle"></i> Personalized training </li>

                    </ul>
                    <a href="#" class="get-started-btn">Contact-us</a>
                </div>
            </div>

        </div>
    </div>
</section><!-- #pricing -->
<!--==============================

<!--==========================
  Contact Section
============================-->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">


                <div class="contact-container">

                    <img src="{{ STATIC_URL }}templates/one/Avilon/img/contact.jpg"  style="width:100%;height:450px;">
                    <div class="centered">
                        <h2> Thank You !</h2>
                           <p>We have received your email we will get back to you shortly!!</p>
                        </div>


                </div>
 <div class=" load">
           	<div id="floatingBarsG">
	<div class="blockG" id="rotateG_01"></div>
	<div class="blockG" id="rotateG_02"></div>
	<div class="blockG" id="rotateG_03"></div>
	<div class="blockG" id="rotateG_04"></div>
	<div class="blockG" id="rotateG_05"></div>
	<div class="blockG" id="rotateG_06"></div>
	<div class="blockG" id="rotateG_07"></div>
	<div class="blockG" id="rotateG_08"></div>
</div>
        </div>

                <form class="contactform" id="contact-form" name="contactform"  method="post" action="" >
                    <div class="form-group">
                        <input type="name" class="form-control" id="Name" value="" placeholder="Name" name="con-name"  >
                        <div class="name"></div>
                    </div>


                    <div class="form-group">
                        <input type="subject" class="form-control" id="subject" value="" placeholder="Subject" name="subject" >
                        <div class="subject"></div>
                    </div>
                    <div class="form-group">
                        <input type="Email" class="form-control" id="emailus" value="" placeholder="Email" name="email">
                        <div class="email"></div>
                    </div>

                    <textarea class="form-control" rows="7" id="message" name="message" placeholder="Message" value="" ></textarea>
                    <div class="message"></div>
                    <div  align="center" class="con-submit">

                        <button type="submit" id="submit" class="btn">Submit</button>

                    </div>

                </form>



            </div>
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.0114241988636!2d78.54750851487667!3d17.411239388064367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99472803dafb%3A0x3e1be6fdd7c44840!2sPhoenix+Building%2C+PHOENIX+TOWERS%2C+Uppal+Main+Rd%2C+Habsiguda%2C+Hyderabad%2C+Telangana+500007!5e0!3m2!1sen!2sin!4v1535094839692" width="500" height="450" frameborder="0" style="border:0" ></iframe>
            </div>

        </div>

    </div>
</section><!-- #contact -->


<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  text-center">
                <div class="copyright">
                    &copy; Copyright <strong><a href="/">Taskjets</a></strong>. All Rights Reserved
                </div>

            </div>

        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{{ STATIC_URL }}templates/one/Avilon/lib/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}templates/one/Avilon/lib/jquery/jquery-migrate.min.js"></script>
<script src="{{ STATIC_URL }}templates/one/Avilon/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{{ STATIC_URL }}templates/one/Avilon/lib/easing/easing.min.js"></script>
<script src="{{ STATIC_URL }}templates/one/Avilon/lib/wow/wow.min.js"></script>
<script src="{{ STATIC_URL }}templates/one/Avilon/lib/superfish/hoverIntent.js"></script>
<script src="{{ STATIC_URL }}templates/one/Avilon/lib/superfish/superfish.min.js"></script>
<script src="{{ STATIC_URL }}templates/one/Avilon/lib/magnific-popup/magnific-popup.min.js"></script>

<!-- Contact Form JavaScript File -->
<script src="{{ STATIC_URL }}templates/one/Avilon/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="{{ STATIC_URL }}templates/one/Avilon/js/main.js"></script>

</body>
</html>
