{% extends 'base.html' %}
{% block main %}
<div class="container">
    <div class="projects">
    <h5 class="fontfamily">Thank you for contacting us</h5>

     </div>
      <div class="signup_complete">

    </div>
</div>

{% endblock %}