{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
    <div class="row justify-content-center">
        <div class="col-10">
            <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-wfa">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
