<div class="container">

    <div align="center"><img src="{{base_url}}/static/templates/one/images/logo.png"/></div>
        <p >

            Hello there ,

        </p>
        <p>
            A new task (<a href="{{base_url}}{% url 'project_home' task.section.project.organisation.slug task.section.project.id %}">{{task.name}}</a> ) has been assigned to you.

        </p>
        <hr/>
        <p>Please <a href="{{base_url}}{% url 'contact_us' %}" class="btn btn-primary">contact us</a> with any questions, we're always happy to help.</p>

        <p>
            Cheers,
            <br/>
            The Taskjets
        </p>

</div>