@import url("https://fonts.googleapis.com/css?family=Roboto");
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: .9rem;
@import "bootstrap";
@import "fontawesome";
@import "regular";
@import "solid";
@import "brands";
@import "select2";

body {
  background: #EFF0F5 ;
}


/***********************************************************************************************************************
*********************************************       START        *******************************************************
***********************************************************************************************************************/
$grid-gutter-width: 0;
.site-container {
  @include make-container();
}

.site-row {
  @include make-row();
}



/***********************************************************************************************************************
*********************************************       END          *******************************************************
***********************************************************************************************************************/





/***********************************************************************************************************************
********************************************       START DASHBOARD        **********************************************
***********************************************************************************************************************/





/***********************************************************************************************************************
*********************************************       END  DASHBOARD        **********************************************
***********************************************************************************************************************/


.side{
float:right;
margin-left:120px;
}
.sidenavmore{
padding-left:120px;

}

/*-------------------------------
#project-home search-bar
------------------------------------------*/
.search-box {
  width: 250px;
  cursor: pointer;
  margin: 0 auto;
  border: .5px solid rgb(232, 238, 241);
  border-radius: 28px;
  color: rgb(119, 126, 128);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: #fff;
}

.search-icon {
  width: 250px;
  padding: 1px;
  border-radius: 24px;
  float: right;
}
.inner-addon {
  position: relative;
}
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}
.left-addon input  { padding-left:  30px; padding-top:20px; }
.right-addon input { padding-right: 30px; }

/*--------------------------------------------------------------
# search bar in dashboardheader
--------------------------------------------------------------*/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 30px;
  height: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.075) ;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.search-form .form-group input.form-control {
text-align:left;
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {

  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */

  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
   padding-top:50px;
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group,
{

  width: 100%;

}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: 114px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #458ab6;
  left: initial;
  font-size: 13px;
}



/*--------------------------------------------------------------
# add team members
--------------------------------------------------------------*/

.table_style td,tr{
text-align:left;

}

.table_admin{

    color: green;


}

.manage-teams a:hover {
    -webkit-transform: scale(1.1);
    background: #31708f;
    color:white;
}


/*--------------------------------------------------------------
# Project home page
--------------------------------------------------------------*/
.shiny-container {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
  padding: 1em .5em;
  background-color: #ffffff;
  margin:.5em 0 1em;
}

.project-home-top-links {
  display: block;
  padding: 0px 1rem 0 0; }
  .project-home-top-links:hover, .project-home-top-links:focus {
    text-decoration: none; }
  .project-home-top-links.disabled {
    color: #6c757d; }
.project-home-top-icon {
padding-top:10px;
}



.form{
 // padding-left:45px;
}


.project-home {
  &-title {
    // font-size: 1em;
    font-weight: bold;

  }
  &-description {
      border-top: 1px solid #efefef;
      margin-top: .4em;
      padding: .4em 0 .8em;
      // font-size: .85em;
  }
  &-top-links {
    display: block;
    padding: 0 0 0 1.5em;

    &:hover, &:focus {
      text-decoration: none;
    }

    &.disabled {
      color: #6c757d;
    }

  }

}



.section {
  margin:.5em 0 .5em;
  padding: .2em 0;
  // font-size:1em;

  &-title {
    border-bottom: 1px solid #333333;
    margin:0 0 .5em;
  }



}





.section a {
  color:#333333;
}
.section a:hover {
  color:#999999;
}

.task {
  // margin:.5em 0;
  font-size: 13px;
  padding: .5em 0 .8em;
  border-bottom:1px solid #e1e1e1;

}

.task .child {
    border-top:1px solid #e1e1e1;
    border-bottom: none;
    // margin:0 2em;
}

.task .parent {
    border-bottom:1px solid #e1e1e1;
}

.task-title-child {
  margin-left: 2em;
}

.task-details {
  margin-left: 2em;
}


.task-status{
 // padding-top:1px;
}
#tabletdhover:hover {
    background-color: #458ab6;
}

.fa-download{
font-size:20px;
}

.fa-check:hover{
color:white;

}
.approve:hover{
background-color:	#008000;

}
.fa-times:hover{
color:white;
}
.reject:hover{
background-color:	#FF0000;
}

#subtaskhighlight {
    width: 100%;
    background-color: white;
}
.loaderProject {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*--------------------------------------------------------------
# button
--------------------------------------------------------------*/
.btn-wfa-blue {
  @include button-variant(#458ab6, #458ab6);
}

 .btn-wfa{
  background-color:#458ab6;
   text-align: center;
   width:auto;
   height:auto;
   color: #f9f9f9;
   font-size: 15px;
}
 .team-home-btn{
  background-color:#458ab6;
  padding-top:4px;
   width:auto;
   height:30px;
   color: #f9f9f9;
   font-size: 15px;
}


.btn-outline{
  text-decoration: underline;

}

/*--------------------------------------------------------------
# Login page and uaa
--------------------------------------------------------------*/
#login #footer .container
{
padding-top:100px;
}
.container{
padding-top:50px;
}
.empty
{
height:339px;
}
.password_change{
height:425px;
}
.password_reset_done{
height:355px;
}
.sign_up{
height:425px;
}
.signup_complete{
height:410px;
}
.registration{
height:100px;
}
.registration_com{
height:425px;
}
.projects{
padding-top:100px;
text-align:center;

}
.password_reset{
height:510px;
}

/*--------------------------------------------------------------
# dashboard html
--------------------------------------------------------------*/

.rowhg
{
height:22px;
}
#left-side-nav {
background-color: #242632;
width: 240px;
padding: 12px 0;
height: 100%;

}



#left-side-nav hr {
    color: #f9f9f9;
    font-family: "Montserrat", sans-serif;
    border-color: #458ab6;
}

.nav-pills > li > a.active {
    background-color: #458ab6;

}

.hamburger {

    font-size: 25px;
    color: white;
    padding-left: .5em;
}
 .logo_base p{
 padding-top:15px;
 font-size:13px;
 padding-left:4px;
 color:white;
 }

.logo img {
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    width: 102px;
}
.logo p{
padding-top:13px;
font-size:13px;
padding-left:5px;
color:white;
}


.body {
    font-family: "Montserrat", sans-serif;
}
.logo {
    padding:0 0 11.1px 1em;
}
.fontfamily{
    font-family: "Montserrat", sans-serif;
}

 .fontcolor {
     padding-left:30px;
     color:#bebebe;
     font-size:13px;
     padding-top:1px;

 }
 .fontcolor1{
  padding-left:190px;
     color:#bebebe;
     font-size:13px;
     padding-top:1px;

 }
.setting{
padding-left:3px;
 font-size:13px;
   padding-top:14px;


}
 .fa-color {
   color: #458ab6;
   font-size:13px;

 }

#navpillabgcolor .active{
    background-color: #1B1D23;
}
.dropdownsidenav {
    background-color: #1B1D23;
}
#dashboard-header {
    padding: 11px 0;
    background: linear-gradient(#458ab6,#458ab6,#458ab6);
    height: 50px;
    transition: all 0.5s;
    width:100%;
  margin-bottom: .5em;
}


/*--------------------------------------------------------------
# dashboard header circle colors
--------------------------------------------------------------*/

.header-circle {
    font-size: 14px;
    background-color: white;
}


.header-actions {
  margin-right:2em;
  float: right;
}
.names{
 font-size: 14px;
    border: 1px solid #ccc;

}

/*--------------------------------------------------------------
# base header
--------------------------------------------------------------*/

#header {
    background: linear-gradient(#2477AC, #2477AC,#2477AC);
    padding: 15px 0;
    height: 62px;
    transition: all 0.5s;
}
a:hover {
  color: #222F3B;
  outline: none;
  text-decoration: none;
}
.header-circle {
    display: inline-block;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width:2.0em;
    line-height:2.0em;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align:center;
    vertical-align: center;
    overflow: hidden;
    margin-left:.5em;
}

.borderless {
    width: 100%;
    height: 1px;
}


#header h1 {
    color:white;
    font-family: "Montserrat", sans-serif;
}
#logo {

    padding-left: 45px;

}

#header li {
    display: block;
    padding-left: 20px;
}

.paddingleft {
    padding-left:50px;
}
.paddingright {
    padding-right: 50px;
}

/*--------------------------------------------------------------
# Team home
--------------------------------------------------------------*/
.js-example-basic-single option{
    width:5px;
}
.form li {
    height: 40px;
    width: 100%
}
.form li:hover {
    background-color:#f1f1f1 ;
}



 .form li {
     display:block;
 }

 .teamerror {
   color:red;
 }


/*--------------------------------------------------------------
# base.html navbar
--------------------------------------------------------------*/

.nav-menu > li {
  float: left;
}

.nav-menu a {
    color: white;
    font-family: "Montserrat", sans-serif;
}
a:hover {
  color: #458ab6;
  outline: none;
  text-decoration: none;

}


#header #logo h1 {
color:white;
  font-size: 36px;
margin: 0 0 20px 0;
  padding-top: 8px;
  line-height: 1;
  display: inline-block;
  font-family: "Open Sans", sans-serif;

  letter-spacing: 3px;
  text-transform: uppercase;
  padding-left:200px;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}
#header #nav-menu-container {
 padding: 8px 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}


#header .nav-menu ul li {
    min-width: 180px;
}


/*--------------------------------------------------------------
# footer html
--------------------------------------------------------------*/
footer {
  background: white;
  padding: 2em 0;
}
/*
#footer {
  background: #fff;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  color: #333;
  font-size: 14px;
}
#footer .copyright{
padding-left:700px;
}
#footer .footer-links a {
  color: #666;
  padding-left: 15px;
}

#footer .footer-links a:first-child {
  padding-left: 0;
}

#footer .footer-links a:hover {
  color: #1dc8cd;
}
*/

#test-color {
color: #333333;
background-color: red;
}
/*side-nav dropdown*/

.dropdown-container {
    display: none;

    padding-left: 8px;
}


/* Optional: Style the caret down icon */
.fa-chevron-right, .fa-angle-down {
font-size:10px;

    float: right;
    padding-top:10px;
    padding-right: 15px;
}
.pro-details{
  padding: 10px 5px;
}
.pro-descr{
 padding-left:25px;

}
 .proactive{
 color:#f6f6f6;
 background-color:#282B32;
 width:250px;
 font-weight:bold;
 font-size:15px;
 }
 .add{
 padding-top:18px;
 }
#pro-plus{
padding-top:3px;
font-size:20px;
}
/* Style the sidenav links and the dropdown button */
.task-dropdown-btn,.pro-dropdown-btn, .teams-dropdown-btn {

    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size:15px;
    color:#2477AC;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* readmore link  for project description*/
.complete{
    display:none;
}

.more{
    background:lightblue;
    color:navy;
    font-size:13px;
    padding:3px;
    cursor:pointer;
}


/***********************************************************************************************************************
**********************************************       START FOOTER        ***********************************************
***********************************************************************************************************************/
footer {
  background: white;
  padding: 2em 0;
}

/***********************************************************************************************************************
***********************************************       END  FOOTER        ***********************************************
***********************************************************************************************************************/
.attachments a {
  color: dodgerblue;
}