{% extends 'base.html' %}

{% load crispy_forms_tags %}
{%  block title %}
    Create Your Organisations
{% endblock %}


{% block main %}
    <div class="row justify-content-center">
        <div class="col-10">
            <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-wfa">Create Organisation</button>
            </form>
        </div>
    </div>
{% endblock %}
