{% extends 'base_dashboard.html' %}

{% block content %}
    <div class="container-fluid shiny-container">
        <div id="download" data-organisation={{ctx_organisation.slug}}">
            <a href="{% url 'projects_download' ctx_organisation.slug %}?ids={% for project in projects %}{{project.id}},{% endfor %}" class="btn  btn-link disabled float-right"> <i class="fas fa-download"></i></a>
        </div>

        <table class="table table-hover table-sm">
            <thead class="thead-light ">
            <tr>
                <th><input type="checkbox" id="checkall" value="Projects"></th>
                <th>Name</th>
                <th>Description</th>
                <th>Reference</th>
                <th>Status</th>
                <th>Owner</th>
            </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td><input type="checkbox" class="check" value={{ project.id }}></td>
                    <td><a href="{% url 'project_home' project.organisation.slug project.id %}">{{ project.name }}</a>
                    </td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.reference }}</td>
                    <td>
                        {% if project.status == 'COMPLETED' %}
                            Completed
                        {% elif project.status == 'STARTED'  %}
                            In Progress
                        {% elif project.status == 'PENDING'  %}
                            Pending
                        {%else%}
                            {{ project.get_status_display }}
                        {%endif%}
                    </td>
                    <td>{{ project.created_by.get_full_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                {% if projects.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% url 'organisation_projects'  organisation.slug %}{% if not projects.number == 2 %}?page={{ projects.previous_page_number }}{% endif %}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="{% url 'organisation_projects'  organisation.slug %}" tabindex="-1">Previous</a></li>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if page == 1 %}
                        <li class="page-item {% if projects.number == page %}active{% endif %}"><a class="page-link" href="{% url "organisation_projects" organisation.slug %}">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item {% if projects.number == page %}active{% endif %}"><a class="page-link" href="{% url "organisation_projects" organisation.slug %}?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if projects.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'organisation_projects'  organisation.slug %}?page={{ projects.next_page_number }}" aria-label="Next page">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="{% url 'organisation_projects'  organisation.slug %}?page={{ projects.number }}" aria-label="Next page">Next</a></li>
                {% endif %}
            </ul>
        </nav>



    </div>
{% endblock %}