{% extends 'base_dashboard.html' %}

{% block content %}
    <div class="container-fluid shiny-container">
        <table class="table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td><a href="{% url 'team_home' team.organisation.slug team.slug %}">{{ team.name }}</a></td>
                    <td>{{ team.description }}</td>
                    <td>{{ team.is_active }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                {% if teams.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% url 'organisation_teams1'  organisation.slug %}{% if not teams.number == 2 %}?page={{ teams.previous_page_number }}{% endif %}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="{% url 'organisation_teams1'  organisation.slug %}" tabindex="-1">Previous</a></li>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if page == 1 %}
                        <li class="page-item {% if teams.number == page %}active{% endif %}"><a class="page-link" href="{% url "organisation_teams1" organisation.slug %}">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item {% if teams.number == page %}active{% endif %}"><a class="page-link" href="{% url "organisation_teams1" organisation.slug %}?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if teams.has_next %}
                    <li class="page-item"><a class="page-link" href="{% url 'organisation_teams1'  organisation.slug %}?page={{ teams.next_page_number }}" aria-label="Next page">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="{% url 'organisation_teams1'  organisation.slug %}?page={{ teams.number }}" aria-label="Next page">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}