{% extends 'base_dashboard.html' %}
{% load crispy_forms_tags %}
{%  block title %}
    {{ ctx_organisation.name }}
{% endblock %}
{% block content %}
    <div class="container-fluid shiny-container">
        <div class="row">
            <div class="col">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general"
                            role="tab" aria-controls="nav-general" aria-selected="true">General</a>
                        <a class="nav-item nav-link" id="nav-admin-memebers-tab" data-toggle="tab" href="#nav-admin-members" role="tab"
                            aria-controls="nav-admin-members" aria-selected="false">{{admin_team.name}}</a>
                        <a class="nav-item nav-link" id="nav-manager-memebers-tab" data-toggle="tab" href="#nav-manager-members" role="tab"
                            aria-controls="nav-manager-members" aria-selected="false">{{manager_team.name}}</a>
                    </div>
                </nav>
                <br/>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-general" role="tabpanel"
                        aria-labelledby="nav-general-tab">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-11">
                                <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                                    <div class="form-group row">
                                        <label for="{{ form.name.auto_id }}" class="col-sm-2 col-form-label">{{ form.name.label }}</label>
                                        <div class="col-sm-10">
                                            {{form.name}}
                                                {% if form.name.errors %}
                                                    {{ form.name.errors }}
                                                {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{ form.project_prefix.auto_id }}" class="col-sm-2 col-form-label">{{ form.project_prefix.label }}</label>
                                        <div class="col-sm-10">
                                            {{form.project_prefix}}
                                                {% if form.project_prefix.errors %}
                                                    {{ form.project_prefix.errors }}
                                                {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{ form.task_prefix.auto_id }}" class="col-sm-2 col-form-label">{{ form.task_prefix.label }}</label>
                                        <div class="col-sm-10">
                                          {{form.task_prefix}}
                                                {% if form.task_prefix.errors %}
                                                    {{ form.task_prefix.errors }}
                                                {% endif %}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-wfa">Update Organisation</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-admin-members" role="tabpanel" aria-labelledby="nav-admin-members-tab">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-12">
                                <div class="manage-teams">
                                    <div class="row justify-content-md-center">
                                        <div class="col-sm-11">
                                            <div class="row">
                                                {% if organisation_admin %}
                                                    <div class="col-auto">
                                                        <a href="#" class="btn btn-wfa" data-toggle="modal"  data-target="#add-team-member"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="#" class="btn  btn-wfa remove-team-member disabled" data-organisation="{{ admin_team.organisation.id }}" data-team="{{ admin_team.id }}" data-member="{{ admin_team.member.id }}" value="teammember">
                                                        <i class="fa fa-trash"></i></a>
                                                    </div>
                                                    <div class="col-auto"><div class="loaderProject"></div></div>
                                                {% endif %}
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col">
                                                    <table class="table table-bordered table_style  table-sm">
                                                        <thead class="thead-light ">
                                                            <tr>
                                                                <th><input type="checkbox" id="checkal" value="Team-members"></th>
                                                                <th> Name</th>
                                                                <th> Username</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for admin_teammember in admin_teammembers %}
                                                                <tr>
                                                                    <td><input type="checkbox" class="checkTeam" value={{ admin_teammember.member.id }} ></td>
                                                                    <td>{{ admin_teammember.member.get_full_name }}</td>
                                                                    <td>{{ admin_teammember.member.email }}</td>
                                                                        <!-- <a id="remove" class="remove-team-member" action="." method="post" data-organisation="{{ admin_team.organisation.id }}" data-team="{{ admin_team.id }}" data-member="{{ admin_teammember.member.id }}" value="Teammember">
                                                                    <i class="far fa-times-circle"></i>-->
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                {% if not admin_teammembers %}
                                                    <div class="teamerror">There are no team members . Why don't you added up</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-manager-members" role="tabpanel" aria-labelledby="nav-manager-members-tab">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-12">
                                <div class="manage-teams">
                                    <div class="row justify-content-md-center">
                                        <div class="col-sm-11">
                                            <div class="row">
                                                {% if organisation_manager %}
                                                    <div class="col-auto">
                                                        <a href="#" class="btn btn-wfa" data-toggle="modal"  data-target="#add-team-member"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="#" class="btn  btn-wfa remove-team-member disabled" data-organisation="{{ manager_team.organisation.id }}" data-team="{{ manager_team.id }}" data-member="{{ manager_team.member.id }}" value="teammember">
                                                        <i class="fa fa-trash"></i></a>
                                                    </div>
                                                    <div class="col-auto"><div class="loaderProject"></div></div>
                                                {% endif %}
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col">
                                                    <table class="table table-bordered table_style  table-sm">
                                                        <thead class="thead-light ">
                                                            <tr>
                                                                <th><input type="checkbox" class="checkOrganisation" value="Team-members"></th>
                                                                <th> Name</th>
                                                                <th> Username</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for manager_teammember in manager_teammembers %}
                                                                <tr>
                                                                    <td><input type="checkbox" class="checkManager" value={{ manager_teammember.member.id }} ></td>
                                                                    <td>{{ manager_teammember.member.get_full_name }}</td>
                                                                    <td>{{ manager_teammember.member.email }}</td>
                                                                        <!-- <a id="remove" class="remove-team-member" action="." method="post" data-organisation="{{ admin_team.organisation.id }}" data-team="{{ admin_team.id }}" data-member="{{ admin_teammember.member.id }}" value="Teammember">
                                                                    <i class="far fa-times-circle"></i>-->
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                {% if not manager_teammembers %}
                                                    <div class="teamerror">There are no team members . Why don't you added up</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="add-team-member" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Member</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    {% if organisation_manager %}
                        <form action="." method="post" data-organisation="{{ manager_team.organisation.id }}" data-team="{{ manager_team.id }}">
                            <div class="row justify-content-md-center">
                                {% csrf_token %}
                                &nbsp&nbsp&nbsp<select class="add-member form-control"  name="members" data-organisation="{{manager_team.organisation.slug}}" data-team="{{manager_team.slug }}" ></select>
                                &nbsp&nbsp&nbsp
                            </div>
                        </form>
                    {% else %}
                        <form action="." method="post" data-organisation="{{ admin_team.organisation.id }}" data-team="{{ admin_team.id }}">
                            <div class="row justify-content-md-center">
                                {% csrf_token %}
                                &nbsp&nbsp&nbsp<select class="add-member form-control"  name="members" data-organisation="{{admin_team.organisation.slug}}" data-team="{{admin_team.slug }}" ></select>
                                &nbsp&nbsp&nbsp
                            </div>
                        </form>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="loaderProject"></div>
                        </div>
                        <div class="col-md-4">
                            <button id="addMember" class="btn btn-wfa">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}