{% extends 'base_dashboard.html' %}
{% load crispy_forms_tags %}
{%  block title %}
    Create Team
{% endblock %}
{% block content %}
    <div class="container-fluid shiny-container">
        <div class="row justify-content-center">
            <div class="col-10">
                <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Create Team</button>
                <a href="{% url 'organisation_teams1' ctx_organisation.slug %}" class="btn btn-secondary float-right">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
