{% extends 'base_dashboard.html' %}
{% load crispy_forms_tags %}
{%  block title %}
{{ team.name }}
{% endblock %}
{% block content %}

    <div class="container-fluid shiny-container">
        <div class="row">
            <div class="col">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general"
                           role="tab" aria-controls="nav-general" aria-selected="true">General</a>
                        <a class="nav-item nav-link" id="nav-memebers-tab" data-toggle="tab" href="#nav-members" role="tab"
                           aria-controls="nav-members" aria-selected="false">Members</a>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-general" role="tabpanel"
                         aria-labelledby="nav-general-tab">
                        <br>
                        
                        <div class="row justify-content-md-center">
                            <div class="col-sm-11">
                                <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                                    <div class="form-group row">

                                        <label for="staticOrganisation" class="col-sm-2 col-form-label">Organisation</label>
                                        {{form.organisation}}

                                        <div class="col-sm-10">
                                            <input type="text" readonly class="form-control-plaintext" id="staticOrganisation" value="{{ team.organisation }}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="{{ form.name.auto_id }}" class="col-sm-2 col-form-label">{{ form.name.label }}</label>

                                        <div class="col-sm-10">
                                           {{form.name}}
                                            {% if form.name.errors %}
                                                {{ form.name.errors }}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="{{ form.description.auto_id }}" class="col-sm-2 col-form-label">{{ form.description.label }}</label>

                                        <div class="col-sm-10">
                                            {{form.description}}
                                            {% if form.description.errors %}
                                                {{ form.description.errors }}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn btn-wfa ">Update Team</button>
                                </form>
                            </div>
                        </div>


                    </div>

                    <div class="tab-pane fade" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
                        <br>
                        <div class="row justify-content-md-center">
                            <div class="col-sm-12">
                                <div class="manage-teams">
                                    <div class="row justify-content-md-center">
                                        <div class="col-sm-11">
                                            <div class="row">
                                                {% if teamadmin %}
                                                    <div class="col-auto">
                                                        <a href="#" class="btn btn-wfa" data-toggle="modal"  data-target="#add-team-member"><i class="fa fa-plus"></i></a>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="#" class="btn  btn-wfa remove-team-member disabled" data-organisation="{{ team.organisation.id }}" data-team="{{ team.id }}" data-member="{{ teammember.member.id }}" value="teammember">
                                                        <i class="fa fa-trash"></i></a>

                                                    </div>

                                                    <div class="col-auto"><a href="#nav-members" class="make-admin-team-member btn btn-wfa disabled "  data-organisation="{{ team.organisation.id }}" data-team="{{ team.id }}" data-member="{{ teammember.member.id }}" value="makeadminteammember">Make Admin</a></div>
                                                    <div class="col-auto"><a href="#nav-members" class="remove-admin-team-member btn btn-wfa disabled "  data-organisation="{{ team.organisation.id }}" data-team="{{ team.id }}" data-member="{{ teammember.member.id }}" value="removeadminteammember">Remove admin</a></div>
                                                    <div class="col-auto"><div class="loaderProject"></div></div>
                                                {% endif %}

                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col">
                                                    <table class="table table-bordered table_style  table-sm">
                                                           <thead class="thead-light ">
                                                                <tr>
                                                                    <th><input type="checkbox" id="checkal" value="Team-members"></th>
                                                                    <th> Name</th>
                                                                    <th> Username</th>
                                                                    <th> Admin</th>

                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                {% for teammember in teammembers %}
                                                                    <tr class="teamMemberList">
                                                                        <td><input type="checkbox" class="checkTeam" value={{ teammember.member.id }} ></td>
                                                                        <td>{{ teammember.member.get_full_name }}</td>
                                                                        <td>  {{ teammember.member.email }}</td>
                                                                        <td class="admincheck">
                                                                            {% if teammember.admin %}
                                                                                <span class="table_admin"><i class="fa fa-check"></i></span>
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            {% if not teammembers %}
                                            <div class="text-danger teamerror">There are no team members.</div>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="add-team-member" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Member</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="." method="post" data-organisation="{{ team.organisation.id }}" data-team="{{ team.id }}">
                        <div class="row justify-content-md-center">
                            {% csrf_token %}
                            &nbsp&nbsp&nbsp<select class="add-member form-control"  name="members" data-organisation="{{team.organisation.slug}}" data-team="{{team.slug }}" ></select>
                            &nbsp&nbsp&nbsp
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="loaderProject"></div>
                        </div>
                        <div class="col-md-4">
                            <button id="addMember" class="btn btn-wfa">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock %}