<div class="container">

    <div align="center"><img src="{{base_url}}/static/templates/one/images/logo.png" /></div>
        <p >
            Hi {{name}} ,
        </p>
        <p>You are removed from team: {{team.name}}({{team.organisation.name}})</p>
        <p>
            Cheers,
            <br/>
            The Taskjets
        </p>

</div>