<div class="container">

    <div align="center"><img src="http://localhost:8000/static/templates/one/images/logo.png" /></div>
        <p >
            {% for name in admin_names %}
            Dear <strong>{{name}}</strong>
            {%endfor%}
        </p>
        <p>
          {{message}}
        </p>
        <p>
        <p>
            Regards,
            <br/>
            {{name}}.
        </p>
</div>