{% extends 'base_dashboard.html' %}
{% load crispy_forms_tags %}

{%  block title %}Create Task{% endblock %}

{% block content %}
    <div class="shiny-container">
        <div class="row justify-content-center">
            <div class="col-10">
                {{ form.non_field_errors }}
                <form id="tj-add-task" method="post" action="." enctype="multipart/form-data" data-organisation="{{ organisation.slug }}" data-project="{{ project.id }}">{% csrf_token %}


                    <div class="form-row">
                        <div class="form-group col">
                            <label for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
                            {{ form.name }}
                            {% if form.name.errors %}
                                {{ form.name.errors }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col">
                            <label for="{{ form.reference.auto_id }}">{{ form.reference.label }}</label>
                            {{ form.reference }}
                            {% if form.reference.errors %}
                                {{ form.reference.errors }}
                            {% endif %}
                        </div>
                    </div>

                    {% if form.section %}
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="{{ form.section.auto_id }}">{{ form.section.label }}</label>
                            {{ form.section }}
                            {% if form.section.errors %}
                                {{ form.section.errors }}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if form.category %}
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="{{ form.category.auto_id }}">{{ form.category.label }}</label>
                            {{ form.category }}
                            {% if form.category.errors %}
                                {{ form.category.errors }}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if form.severity %}
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="{{ form.severity.auto_id }}">{{ form.severity.label }}</label>
                            {{ form.severity }}
                            {% if form.severity.errors %}
                                {{ form.severity.errors }}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}

                    {% if task_type == 'generic' or task_type == 'approval' %}

                        <div class="form-row">
                            <div class="form-group col">
                                {% if form.parent.label %}
                                    {% if not form.hidden_fields %}
                                        <label for="{{ form.parent.auto_id }}">{{ form.parent.label }}</label>
                                    {% endif %}
                                    {{ form.parent }}
                                    {% if form.parent.errors %}
                                        {{ form.parent.errors }}
                                    {% endif %}
                                {% else %}
                                    <label for="disabledSelect">Parent</label>
                                    <select id="disabledSelect" class="form-control" disabled>
                                        <option>{{ form.parent }}</option>
                                    </select>
                                {% endif %}
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-6 dep">
                                <label for="{{ form.dependent_on_section.auto_id }}" class="yt">{{ form.dependent_on_section.label }}</label>
                                {{ form.dependent_on_section }}
                                {% if form.dependent_on_section.errors %}
                                    {{ form.dependent_on_section.errors }}
                                {% endif %}
                            </div>
                            <div class="form-group col-6 dep">
                                <label for="{{ form.dependent_on_task.auto_id }}" class="yt">{{ form.dependent_on_task.label }}</label>
                                {{ form.dependent_on_task }}
                                {% if form.dependent_on_task.errors %}
                                    {{ form.dependent_on_task.errors }}
                                {% endif %}
                            </div>
                        </div>



                        <div class="form-row  duration">
                            <div class="form-group col">
                                <label for="{{ form.duration.auto_id }}">{{ form.duration.label }} </label>
                                {{ form.duration }}
                                <small id="durationHelp" class="form-text text-muted">{{ form.duration.help_text }}</small>
                                {% if form.duration.errors %}
                                    {{ form.duration.errors }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-row start_time">
                            <div class="form-group col-6">
                                <label for="{{ form.start_datetime.auto_id }}">{{ form.start_datetime.label }}</label>
                                {{ form.start_datetime }}
                                {% if form.start_datetime.errors %}
                                    {{ form.start_datetime.errors }}
                                {% endif %}

                            </div>

                            <div class="form-group col-6 end_time">
                                <label for="{{ form.end_datetime.auto_id }}">{{ form.end_datetime.label }}</label>
                                {{ form.end_datetime }}
                                {% if form.end_datetime.errors %}
                                    {{ form.end_datetime.errors }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="form-group col-6">
                                <label for="{{ form.assign_to_team.auto_id }}">{{ form.assign_to_team.label }}</label>
                                {{ form.assign_to_team }}
                                {% if form.assign_to_team.errors %}
                                    {{ form.assign_to_team.errors }}
                                {% endif %}
                            </div>


                            <div class="form-group col-6" >
                                <label for="{{ form.assign_to_user.auto_id }}">{{ form.assign_to_user.label }}</label>
                                {{ form.assign_to_user }}
                                {% if form.assign_to_user.errors %}
                                    {{ form.assign_to_user.errors }}
                                {% endif %}
                            </div>

                        </div>
                    {% endif %}
                    {%if task%}
                        <button type="submit" class="btn btn-success">Update Task</button>
                    {%else%}
                        <button type="submit" class="btn btn-success">Create</button>
                    {%endif%}
                    <a href="{% url 'project_home' project.organisation.slug project.id %}" class="btn btn-secondary float-right">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}