{% extends 'base_dashboard.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10">
            <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Delete Task</button>
                <a href="javascript:window.history.back()" class="btn btn-secondary float-right">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}