{% extends 'base_dashboard.html' %}
{% block content %}
    <div class="container-fluid shiny-container">
        {% comment %}
        <div >
            <a class="btn btn-primary btn-sm active  float-right" href="{% url 'my_team_tasks'  organisation.slug %}?status=STARTED" role="button">Active</a>
            <a class="btn btn-primary btn-sm  float-right" style ="margin-right: 5px;" href="{% url 'my_team_tasks'  organisation.slug %}?status=SUCCESS" role="button">Completed</a>
            <a class="btn btn-primary btn-sm  float-right" style ="margin-right: 5px;" href="{% url 'my_team_tasks'  organisation.slug %}?status=FAILURE" role="button">Failure</a>
            <a class="btn btn-primary btn-sm  float-right" style ="margin-right: 5px;" href="{% url 'my_team_tasks'  organisation.slug %}">All</a>
        </div>
        {% endcomment %}
        <div class="dropdown float-right" style ="margin-right: 5px;">
              <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Status
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'my_team_tasks'  organisation.slug %}?status=STARTED">Active</a>
                <a class="dropdown-item" href="{% url 'my_team_tasks'  organisation.slug %}?status=SUCCESS">Succes</a>
                <a class="dropdown-item" href="{% url 'my_team_tasks'  organisation.slug %}?status=FAILURE">Failure</a>
                <a class="dropdown-item" href="{% url 'my_team_tasks'  organisation.slug %}">All</a>
              </div>
            </div>
        <br></br>

                <table class="table" id="myTeamTasksTable">
                    <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Project</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}

                        <tr>
                            <td>
                                <a href="{% url 'project_home' task.section.project.organisation.slug task.section.project.id %}">{{ task.name }}</a>
                            </td>
                            <td>
                                {% if task.status == 'STARTED' %}
                                    In Progress
                                {% elif task.status == 'FAILURE' %}
                                    Rejected
                                {% elif task.status == 'SUCCESS' %}
                                    {% if task.type == 'G' %}
                                        Completed
                                    {% elif task.type == 'A' %}
                                        Approved
                                    {% else %}
                                        {{ task.get_status_display }}
                                    {% endif %}
                                {% else %}
                                    {{ task.get_status_display }}
                                {% endif %}

                            </td>
                            <td>{{ task.target_start_datetime }}</td>
                            <td>{{ task.target_end_datetime }}</td>
                            <td>{{ task.section.project.name }}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {%comment%}
                <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                {% if tasks.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% url 'my_team_tasks'  organisation.slug %}{% if not tasks.number == 2 %}?page={{ tasks.previous_page_number }}{%if status %}&status={{status}}{%endif%}{%else%}?status={{status}}&page={{ tasks.previous_page_number }}{% endif %}">Previous</a></li>

                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="{% url 'my_team_tasks'  organisation.slug %}" tabindex="-1">Previous</a></li>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% if page == 1 %}
                        {% if status%}
                            <li class="page-item {% if tasks.number == page %}active{% endif %}"><a class="page-link" href="{% url "my_team_tasks" organisation.slug %}?status={{status}}">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item {% if tasks.number == page %}active{% endif %}"><a class="page-link" href="{% url "my_team_tasks" organisation.slug %}">{{ page }}</a></li>
                        {% endif %}
                    {% else %}
                        {% if status%}
                            <li class="page-item {% if tasks.number == page %}active{% endif %}"><a class="page-link" href="{% url "my_team_tasks" organisation.slug %}?status={{status}}&page={{ page }}">{{ page }}</a></li>
                        {%else%}
                        <li class="page-item {% if tasks.number == page %}active{% endif %}"><a class="page-link" href="{% url "my_team_tasks" organisation.slug %}?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if tasks.has_next %}
                    {% if status%}

                        <li class="page-item"><a class="page-link" href="{% url 'my_team_tasks'  organisation.slug %}?status={{status}}&page={{ tasks.next_page_number }}" aria-label="Next page">Next</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'my_team_tasks'  organisation.slug %}?page={{ tasks.next_page_number }}" aria-label="Next page">Next</a></li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="{% url 'my_team_tasks'  organisation.slug %}?page={{ tasks.number }}" aria-label="Next page">Next</a></li>
                {% endif %}
            </ul>
        </nav>
        {%endcomment%}
            </div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <style>
        .dataTables_filter label { width: 40%; }
        .dataTables_filter input { width: 80% !important; }
    </style>
{% endblock %}

{% block js %}
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script>
    $(document).ready( function () {
        $('#myTeamTasksTable').DataTable({
            "pageLength": 25,
            "searching": true
            /*language: {
                search: "_INPUT_",
                searchPlaceholder: "Filter Candidates"
            }*/
        });
    } );
    </script>
{% endblock %}