{% extends 'base_dashboard.html' %}
{% block title %}{{ project.name }}{% endblock %}

{% block content %}

    <div class="container-fluid shiny-container">
        <div class="row">
            <div class="col">
                <h4 class="project-home-title" >{{ project.name }} <small>{% if project.reference %}({{ project.reference }}){% endif %} <a href="#" data-toggle="dropdown" class="project-modify dropdown " title="Modify Project"><span>...</span></a>
                    <div class="dropdown-menu dropdown-menu-top " aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'change_project' project.organisation.slug project.id%}">Edit</a>
                        <a class="dropdown-item" href="{% url 'delete_project' project.organisation.slug project.id%}">Delete</a>
                    </div></small></h4>
            </div>

            <div class="col-auto">
                <ul class="nav">
                    <li>
                          <div class="inner-addon right-addon search-icon">
                    <i class="fa fa-search "></i>
                    <input type="text" placeholder="Search" class="form-control search-box" />
                </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="project-home-top-links" title="Create Task"><span> <i class="fas fa-plus project-home-top-icon  "></i></span></a>
                        <div class="dropdown-menu dropdown-menu-right  names">
                            <a class="dropdown-item"
                               href="{% url 'add_project_task' project.organisation.slug project.id 'parent' %}">Parent
                                Task</a>
                            <a class="dropdown-item"
                               href="{% url 'add_project_task' project.organisation.slug project.id 'generic' %}">Generic
                                Task</a>
                            <a class="dropdown-item"
                               href="{% url 'add_project_task' project.organisation.slug project.id 'approval' %}">Approval
                                Task</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'project_download' project.organisation.slug project.id %}" class="project-home-top-links" title="Download Project Report"> <i class="fas fa-download project-home-top-icon"></i></a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="project-home-description">
                    <span class="teaser">{{ project.description|slice:":300" }}</span>
                    {% if project.description|length > 300 %}
                        <span class="complete"> {{ project.description|slice:"300:" }}</span>
                        <span class="more">more...</span>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid shiny-container">
    {% regroup tasks by section as section_list %}
    <div class="row"><div class="col">
    {% for section in section_list %}
        <div class="section" data-section="{{ section.grouper.id }}" data-project="{{ section.grouper.project.id }}"
             data-organisation="{{ section.grouper.project.organisation.id }}">
            <div class="section-title">
                <strong>{{ section.grouper.name }} <a href="#" data-toggle="dropdown" class="project-section-modify dropdown " title="Modify Section"><span>...</span></a>
                    <div class="dropdown-menu dropdown-menu-top " aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'change_section' project.organisation.slug project.id section.grouper.id%}">Edit</a>
                        <a class="dropdown-item" href="{% url 'delete_section' project.organisation.slug project.id section.grouper.id%}">Delete</a>
                    </div>
                </strong>
            </div>
            <div class="section-body">
                <ul class="list-unstyled">
                    {% for task in section.list %}
                        <li>
                            {% if task.type == 'P' %}
                                <div class="task parent {{ task.status|lower }}">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="task-title clearfix">
                                                <a data-toggle="collapse" href="#task-{{ task.id }}"><i class="fas fa-arrows-alt" style="color: #999999;"></i></a> &nbsp;&nbsp;
                                                <a>{{ task.name }} </a>
                                            </div>
                                        </div>


                                        <div class="col-sm-2 task-status" >
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    {% if task.status == 'SUCCESS' %}
                                                            Completed
                                                    {% elif task.status == 'PENDING' %}
                                                        Pending
                                                    {% elif task.status == 'FAILURE' %}
                                                        Rejected
                                                    {% elif task.status == 'STARTED' %}
                                                        In Progress
                                                    {% elif task.status == 'REJECTED' %}
                                                        Rejected1
                                                    {% else %}
                                                        Unknown
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4"></div>
                                          <div class="col-sm-1 ">
                                            <div class=" float-right">


                                                    <a data-toggle="collapse" href="#task-parent-{{ task.id }}"><i class="fas fa-eye" title="View Detail" style="color: #999999;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <a href="{% url 'delete_task' project.organisation.slug project.id task.id  %}"><i class="fas fa-trash" title="Delete Task" style="color: #999999;"></i></a>

                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                             <ul class="nav float-right">
                                                <li class="nav-item dropdown dropleft">
                                                    <a href="#" data-toggle="dropdown" class="project-home-top-links dropdown " title="Create Task"><span> <i class="fas fa-plus  "></i></span></a>
                                                    <div class="dropdown-menu dropdown-menu-left " aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="{% url 'add_project_child_task' task.section.project.organisation.slug task.section.project.id 'generic' task.id %}">Generic</a>
                                                        <a class="dropdown-item" href="{% url 'add_project_child_task' task.section.project.organisation.slug task.section.project.id 'approval' task.id %}">Approval</a>
                                                    </div>

                                                </li>
                                             </ul>
                                        </div>


                                    </div>


                                    <div class="row">
                                        <div class="col">
                                            <ul class="list-unstyled collapse" id="task-parent-{{ task.id }}">

                                               {% include 'projects/task_parent_view.html' %}

                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <ul class="list-unstyled collapse" id="task-{{ task.id }}">
                                                {% for child_task in task.parenttask_set.all %}
                                                    <li>
                                                        <div class="task child {{ child_task.status|lower }}">
                                                            {% with child_task as task %}
                                                                {% include 'projects/task.html' %}
                                                            {% endwith %}
                                                        </div>
                                                    </li>

                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>



                                </div>

                            {% else %}

                                <div class="task {{ task.status|lower }}">
                                    {% include 'projects/task.html' %}
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>


        </div>
    {% endfor %}
    </div></div></div>




    <div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="TaskApprovalForm"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TaskApprovalForm">Approve Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="approvalTaskForm" method="post" action="." data-organisation="{{ project.organisation.id }}"
                      data-project="{{ project.id }}">
                    <div class="modal-body">
                        <div class="form-group task-approval-form">
                            <label for="id_notes" class="col-form-label">Notes:</label>
                            <textarea name="notes" class="form-control" id="id_notes" required></textarea>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn action">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="TaskCompleteForm"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TaskCompleteForm">Complete Task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="approvalTaskForm" method="post" action="." data-organisation="{{ project.organisation.id }}"
                      data-project="{{ project.id }}">
                    <div class="modal-body">
                        <div class="form-group task-approval-form">
                            <label for="id_notes" class="col-form-label">Notes:</label>
                            <textarea name="notes" class="form-control" id="id_notes" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <div class="loaderProject"></div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success action">Complete Task</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="AddNoteForm" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddNoteForm">Add Notes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addNoteForm" method="post" action="." data-organisation="{{ project.organisation.id }}"
                      data-project="{{ project.id }}">
                    <div class="modal-body">
                        <div class="form-group task-approval-form">
                            <label for="id_notes" class="col-form-label">Notes:</label>
                            <textarea name="notes" class="form-control" id="id_notes" required></textarea>
                        </div>
                        <div class="modal-footer">
                            <div class="loaderProject"></div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success action">Add Notes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="attachmentModal" tabindex="-1" role="dialog" aria-labelledby="AddAttachmentForm"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddAttachmentForm">Add Attachment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="addAttachmentForm" method="post" action="." enctype="multipart/form-data"
                      data-organisation="{{ project.organisation.id }}" data-project="{{ project.id }}">
                    <div class="modal-body">

                        <div class="form-group task-approval-form">
                            <label for="id_name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="id_name" name="name" placeholder="File Name"
                                   required>
                        </div>

                        <div class="form-group task-approval-form">
                            <label for="id_description" class="col-form-label">Description:</label>
                            <textarea name="description" class="form-control" id="id_description" required></textarea>
                        </div>

                        <div class="form-group task-approval-form">
                            <input id="id_file" name="file" type="file" class="file">
                        </div>

                        <div class="modal-footer">
                            <div class="loaderProject"></div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success action">Add Attachment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>








{% endblock %}