
<div class="row" >
    <div class="col-4" >
        <div class="task-title {%if task.parent %}task-title-child{%endif %} clearfix">
            <a >{{ task.name }} </a>
        </div>





    </div>

    <div class="col-sm-2 task-status" >
        <div class="row">
            <div class="col-sm-7">
                {% if task.status == 'SUCCESS' %}
                    {% if task.type == 'G' %}
                        Completed
                    {% elif task.type == 'A' %}
                        Approved
                    {% elif task.type == 'P' %}
                        Completed
                    {% endif  %}
                {% elif task.status == 'PENDING' %}
                    Pending
                    {% comment %}
                    {% if task.type == 'G' %}
                        Completed
                    {% elif task.type == 'A' %}
                        Approved
                    {% elif task.type == 'P' %}
                        Completed
                    {% endif  %}
                    {% endcomment %}
                {% elif task.status == 'FAILURE' %}
                    Rejected
                {% elif task.status == 'STARTED' %}
                    In Progress
                {% elif task.status == 'REJECTED' %}
                    Rejected1
                {% else %}
                    Unknown
                {% endif %}



                {% comment %}
                 {% if  task.get_status_display == 'Success' %}
         <button class="btn btn-outline-success btn-block  btn-sm disabled"  type="button"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ task.get_status_display }}
         </button>
        {% elif task.get_status_display == 'Pending' %}
         <button class="btn btn-outline-secondary btn-block btn-sm disabled" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ task.get_status_display }}
         </button>
        {% elif task.get_status_display == 'Failure' %}
         <button class="btn btn-outline-danger btn-block  btn-sm disabled" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ task.get_status_display }}
         </button>
        {% elif task.get_status_display == 'Started' %}
         <button class="btn btn-outline-primary btn-block btn-sm disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{ task.get_status_display }}
         </button>

       {% endif %}
       {% endcomment %}
            </div>
        </div>




    </div>


      <div class="col-1">
          {%comment%}
          {% if task.dependent_on %}
            {{ task.dependent_on.name }}
          {% endif  %}
          {%endcomment%}
      </div>




    <div class="col-3 clearfix">
        <div class="float-right">
        {% if task.status == 'STARTED' %}
            {% if task.type == 'A' %}
                {% if task.assigned_to_user == request.user %}
                    <a href="#approvalModal" class="btn btn-sm btn-outline-success approve" data-toggle="modal" data-task="{{ task.id }}" data-action="approve" title="Approve"><i class="fas fa-check"></i></a>
                    <a href="#approvalModal" class="btn btn-sm btn-outline-danger reject" data-toggle="modal" data-task="{{ task.id }}" data-action="reject" title="Reject"><i class="fas fa-times"></i></a>
                {% elif task.assigned_to_team in teams %}
                    <a href="#approvalModal" class="btn btn-sm btn-outline-success approve" data-toggle="modal" data-task="{{ task.id }}" data-action="approve" title="Approve"><i class="fas fa-check"></i></a>
                    <a href="#approvalModal" class="btn btn-sm btn-outline-danger reject" data-toggle="modal" data-task="{{ task.id }}" data-action="reject" title="Reject"><i class="fas fa-times"></i></a>
                {% else %}
                    <a href="#approvalModal" class="btn btn-sm btn-outline-success approve disabled" data-toggle="modal" data-task="{{ task.id }}" data-action="approve" title="Approve"><i class="fas fa-check"></i></a>
                    <a href="#approvalModal" class="btn btn-sm btn-outline-danger reject disabled" data-toggle="modal" data-task="{{ task.id }}" data-action="reject" title="Reject"><i class="fas fa-times"></i></a>
                {% endif %}
            {% elif task.type == 'G' %}
                {% if task.assigned_to_user == request.user %}
                    <span style="padding-right:1em;"><a href="#noteModal" title="Add Notes" data-toggle="modal" data-task="{{ task.id }}"><i class="fas fa-sticky-note" style="color: #00A027; font-size: 1.5em"></i></a></span>
                    <span style="padding-right:1em;"><a href="#attachmentModal" title="Add Attachments" data-toggle="modal" data-task="{{ task.id }}"><i class="fas fa-paperclip" style="color: #00A027; font-size: 1.5em"></i></a></span>
                    <a href="#completeModal" data-toggle="modal" title="Mark as complete" data-task="{{ task.id }}"><i class="fas fa-clipboard-check" style="color: #00A027; font-size: 1.5em"></i></a>

                {% elif task.assigned_to_team in teams %}
                    <span style="padding-right:1em;"><a href="#noteModal" title="Add Notes" data-toggle="modal" data-task="{{ task.id }}"><i class="fas fa-sticky-note" style="color: #00A027; font-size: 1.5em"></i></a></span>
                    <span style="padding-right:1em;"><a href="#attachmentModal" title="Add Attachments" data-toggle="modal" data-task="{{ task.id }}"><i class="fas fa-paperclip" style="color: #00A027; font-size: 1.5em"></i></a></span>
                    <a href="#completeModal" data-toggle="modal" title="Mark as complete" data-task="{{ task.id }}"><i class="fas fa-clipboard-check" style="color: #00A027; font-size: 1.5em"></i></a>

                {% else %}
                     <a href="#noteModal" class="btn disabled" title="Add Notes" data-toggle="modal" data-task="{{ task.id }}"><i class="fas fa-sticky-note"></i></a>
                     <a href="#attachmentModal" class="btn disabled" title="Add Attachments" data-toggle="modal" data-task="{{ task.id }}"><i class="fas fa-paperclip"></i></a>
                     <a href="#completeModal" class="btn disabled" data-toggle="modal" data-task="{{ task.id }}"><i class="fas fa-clipboard-check"></i></a>
                {% endif %}

            {% endif %}
        {% elif task.status == 'PENDING' %}
            {% comment %}
            {% if task.type == 'A' %}
                <a class="disabled"><i class="fas fa-check-circle" style="color: #00A027; font-size: 1.6em"></i></a>
                <a class="disabled"><i class="fas fa-times-circle" style="color: #FFB400; font-size: 1.6em"></i></a>
                <a class="disabled"><i class="fas fa-check-circle" style="color: #47C16B; font-size: 1.6em"></i></a>
                <a class="disabled"><i class="fas fa-times-circle" style="color: #FFCF30; font-size: 1.6em"></i></a>
            {% elif task.type == 'G' %}

                <a class="btn btn-outline-success btn-sm disabled">Complete Task</a>
            {% endif %}
            {% endcomment %}

        {% elif task.status == 'SUCCESS' %}
            {% if task.type == 'A' %}
                <a class="disabled" title="Approved"><i class="fas fa-check-circle" style="color: #47C16B; font-size: 1.6em"></i></a>
            {% elif task.type == 'G' %}
                <a class="disabled" title="Completed"><i class="fas fa-check-circle" style="color: #47C16B; font-size: 1.6em"></i></a>
            {% endif %}
        {% elif task.status == 'FAILURE' %}
            {% if task.type == 'A' %}
                <a class="disabled" title="Rejected"><i class="fas fa-times-circle" style="color: #FFCF30; font-size: 1.6em"></i></a>
            {% elif task.type == 'G' %}
                <a class="disabled" title="Rejected"><i class="fas fa-times-circle" style="color: #FFCF30; font-size: 1.6em"></i></a>
            {% endif %}
        {% endif %}
        </div>
    </div>

 <div class="col-sm-1">
        <div class="float-right">
            <a data-toggle="collapse" href="#task-{{ task.id }}"><i class="fas fa-eye" title="View Detail" style="color: #999999;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'delete_task' project.organisation.slug project.id task.id  %}"><i class="fas fa-trash" title="Delete Task" style="color: #999999;"></i></a>
        </div>
    </div>
<div class="col-sm-1"></div>
    <div class="col collapse task-details" id="task-{{ task.id }}">
        <hr>
        <form method="post" action="." enctype="multipart/form-data" data-organisation="{{ organisation.slug }}" data-project="{{ project.id }}">{% csrf_token %}

            <div class="row">

                <div class="col-5">

                    <div class="form-group row">
                        <label for="id_status" class="col-4 form ">Status</label>
                        {% if task.status == 'STARTED' %}
                            <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="In Progress" readonly>
                        {% elif task.status == 'FAILURE' %}
                            <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="Rejected" readonly>
                        {% elif task.status == 'SUCCESS' %}
                            {% if task.type == 'G' %}
                                <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="Completed" readonly>
                            {% elif task.type == 'A' %}
                                <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="Approved" readonly>
                            {% else %}
                                <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.get_status_display }}" readonly>
                            {% endif %}
                        {% else %}
                            <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.get_status_display }}" readonly>
                        {% endif %}
                    </div>

                    <div class="form-group row">
                        <label for="id_target_start_date" class="col-4 form">Start Date</label>
                        <input id="id_target_start_date" class="col-8 form-control form-control-sm " type="text" placeholder="{{ task.target_start_datetime }}" readonly>
                    </div>

                    <div class="form-group row">
                        <label for="id_target_end_date" class="col-4 form">End Date</label>
                        <input id="id_target_end_date" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.target_end_datetime }}" readonly>
                    </div>

                     <div class="form-group row">
                        <label for="id_category1" class="col-4 form">Category</label>
                        <input id="id_category1" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.category.name }}" readonly>
                    </div>

                    <div class="form-group row">
                        <label for="id_severity1" class="col-4 form">Severity</label>
                        <input id="id_severity1" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.severity.name }}" readonly>
                    </div>

                </div>
                <div class="col-md-1"></div>
                <div class="col-5">

                    <div class="form-group row">
                        <label for="id_assigned_to_team" class="col-4">Assigned Team</label>
                        <input id="id_assigned_to_team" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.assigned_to_team.name }}" readonly>
                    </div>
                    <div class="form-group row">
                        <label for="id_assigned_to_user" class="col-4">Assigned User</label>
                        <input id="id_assigned_to_user" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.assigned_to_user.get_full_name }}" readonly>
                    </div>
                    {% if task.dependent_on_section %}
                        <div class="form-group row">
                            <label for="id_dependent_on_section" class="col-4">Dependent On</label>
                            <input id="id_dependent_on_section" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.dependent_on_section.name }}{% if task.dependent_on_task %} / {% if task.dependent_on_task.parent %}{{ task.dependent_on_task.parent.name }} -> {% endif %}{{ task.dependent_on_task.name }}{% endif %}" readonly>
                        </div>
                        {% endif %}
                    {% if task.status == 'SUCCESS' %}
                    {% if task.type == 'G' %}
                     <div class="form-group row">
                        <label for="id_completed_by" class="col-4">Completed By</label>
                        <input id="id_completed_by" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.executed_by.get_full_name }}" readonly>
                    </div>
                    <div class="form-group row">
                        <label for="id_completed_datetime" class="col-4">Completed Date</label>
                        <input id="id_completed_datetime" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.executed_timestamp }}" readonly>
                    </div>
                    {% endif %}
                    {% if task.type == 'A' %}
                     <div class="form-group row">
                        <label for="id_approved_by" class="col-4">Approved By</label>
                        <input id="id_approved_by" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.executed_by.get_full_name }}" readonly>
                    </div>
                    <div class="form-group row">
                        <label for="id_approved_datetime" class="col-4">Approved Date</label>
                        <input id="id_approved_datetime" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.executed_timestamp }}" readonly>
                    </div>
                    {% endif %}
                    {% endif %}

                    {% if task.status == 'FAILURE' %}
                     <div class="form-group row">
                        <label for="id_rejected_by" class="col-4">Rejected By</label>
                        <input id="id_rejected_by" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.executed_by.get_full_name }}" readonly>
                    </div>
                    <div class="form-group row">
                        <label for="id_rejected_datetime" class="col-4">Rejected Date</label>
                        <input id="id_rejected_datetime" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.executed_timestamp }}" readonly>
                    </div>
                    {% endif %}

                    {%comment%}
                    {% if task.approval_status %}
                        <div class="form-group row">
                            <label for="id_assigned_to_user" class="col-4">{{ task.get_approval_status_display }} By</label>
                            <input id="id_assigned_to_user" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.approval_by.get_full_name }}" readonly>
                        </div>

                        <div class="form-group row">
                            <label for="id_assigned_to_user" class="col-4">{{ task.get_approval_status_display }} Date</label>
                            <input id="id_assigned_to_user" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.modified }}" readonly>
                        </div>
                    {% endif %}
                    {%endcomment%}


                </div>
            </div>

            {% if task.notes or task.note_set.exists %}
                <div class="row">

                    <label for="id_notes" class="col-3">Notes</label>

                    {% for note in task.note_set.all %}
                    <div class="form-group col-12">
                        <textarea class="textarea form-control" placeholder="{{ note.notes }}" disabled></textarea>
                    </div>
                    {% endfor %}

                    <div class="form-group col-12">
                        <textarea name="notes" cols="40" rows="5" maxlength="2000" class="textarea form-control" id="id_notes" placeholder="{{ task.notes }}" disabled></textarea>
                    </div>
                </div>
            {% endif %}

            {% if task.attachment_set.exists %}
                <div class="row">
                    <label for="id_attachments" class="col-3"><strong>Attachments: </strong></label>
                    {% for attachment in task.attachment_set.all %}
                        <div class="form-group col-12 attachments">
                            <a href="{{ attachment.file.url }} " target="_blank"><i class="fas fa-link"></i> {{ attachment.name }}</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


        </form>
    </div>


</div>


