{% extends 'base_dashboard.html' %}






{% block content %}
    <div id="task">
        <h3>{{ task.name }}</h3>
        {% if task.parenttask_set %}
            {% for subtask in task.parenttask_set.all %}
                <div id="subtask-{{ subtask.id }}" class="task {{ subtask.status|lower }}">
                    <h4>{{ subtask.name }}</h4>
                    {% with subtask as task %}
                        {% include 'projects/task_home_task.html' %}
                    {% endwith %}
                </div>
            {% endfor %}
        {% else %}
            {% include 'projects/task_home_task.html' %}
        {% endif %}

    </div>


{% endblock %}