<div class="row" >
        <div class="col collapse task-details" id="task-parent-{{ task.id }}">
        <hr>
        <form method="post" action="." enctype="multipart/form-data" data-organisation="{{ organisation.slug }}" data-project="{{ project.id }}">{% csrf_token %}

            <div class="row">

                <div class="col-5">

                    <div class="form-group row">
                        <label for="id_status" class="col-4 form ">Status</label>
                        {% if task.status == 'STARTED' %}
                            <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="In Progress" readonly>
                        {% elif task.status == 'FAILURE' %}
                            <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="Rejected" readonly>
                        {% elif task.status == 'SUCCESS' %}
                            {% if task.type == 'G' %}
                                <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="Completed" readonly>
                            {% elif task.type == 'A' %}
                                <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="Approved" readonly>
                            {% else %}
                                <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.get_status_display }}" readonly>
                            {% endif %}
                        {% else %}
                            <input id="id_status" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.get_status_display }}" readonly>
                        {% endif %}
                    </div>


                    <div class="form-group row">
                        <label for="id_task_parent_name" class="col-4 form">Reference</label>
                        <input id="id_task_parent_name" class="col-8 form-control form-control-sm " type="text" placeholder="{{ task.reference }}" readonly>
                    </div>
                </div>

                <div class="col-1"></div>
            
                <div class="col-5">

                    <div class="form-group row">
                        <label for="id_task_parent_category" class="col-4 form">Category</label>
                        <input id="id_task_parent_category" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.category.name }}" readonly>
                    </div>

                    <div class="form-group row">
                        <label for="id_task_parent_severity" class="col-4 form">Severity</label>
                        <input id="id_task_parent_severity" class="col-8 form-control form-control-sm" type="text" placeholder="{{ task.severity.name }}" readonly>
                    </div>

                </div>
			</div>
		</form>
	</div>
</div>